<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4 offset2">
		<section>
			<h1>Page for <%= @user.name %></h1>
			<p>contact: <%= @user.email %></p>
		</section>
		<section>
		</section>
	</aside>
	<div class="span8 offset2">
		<% if @user.experiences.any? %>
			<h3>Experiences</h3>
			<ul>
				<%= render @experiences %>
			</ul>
		<% end %>
	</div>
</div>