<div class="item active">
  <img src="http://placehold.it/1170x450" alt="">
  <div class="carousel-caption">
    <h4>1. Interact</h4>
    <p>Ye-ha! Your eyes can deceive you. Don't trust them. Still, she's got a lot of spirit. I don't know, what do you think? Don't underestimate the Force. Partially, but it also obeys your commands. Obi-Wan is here. The Force is with him.</p>
  </div>
</div>