<div class="span2">
  <img class="img-polaroid" src="http://placehold.it/200x200">
  <br>Cras justo et cetera et cetera<br>
  <blockquote>
    <form action="">
      <button type="submit" class="btn btn-small btn-primary">Read More »</button>
    </form>
  </blockquote>
</div>