<div class="span2">
  <img class="img-polaroid" src="http://placehold.it/200x200">
  <br>No! Alderaan is peaceful. We have no weapons. You can't possibly… I want to come with you to Alderaan. There's nothing for me here now. I want to learn the ways of the Force and be a Jedi, like my father before me. Red Five standing by. I find your lack of faith disturbing.<br>
  <blockquote>
    <form action="">
      <button type="submit" class="btn btn-small btn-primary">Read More »</button>
    </form>
  </blockquote>
</div>