<div id="contact" class="span3 offset1 hidden-phone collapsed">
  <div id="question" class="question">
    <div id="contact-button">
      <i class="icon-plus-sign icon-large"></i>
    </div>
  </div>
    <div class="span3">
      <form id="contact-form">
        <legend>Have Any Questions?</legend>
        <fieldset>
          <label>Name</label>
          <input type="text" name="name" placeholder="Name Goes Here">
        </fieldset>
        <fieldset>
          <label>Email</label>
          <input type="email" name="email" placeholder="Enter Your Email Here...">
        </fieldset>
        <fieldset>
          <label>Message</label>
          <textarea rows="4" type="text" name="message" placeholder="Tell us what's on your mind!"></textarea>
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button id="cancel" type="button" class="btn">Cancel</button>
      </form>
    </div>
</div>