<div id="signup-main" class="well well-small row offset6 hidden-phone">
  <form method="" action="">
        <input type="email" name="user-email" placeholder="Enter Your Email Here..."></input>
        <input class="btn btn-primary btn-large" type="submit" value="Join Us...It's Free!" data-loading-text="Submitting..."></input>
  </form>
</div>